.form-label-required{
    &::after{
        content: '*';
        margin-left: 4px;
        color: $red;
    }
}

.validation-error{
    color: $red;
   
    &::first-letter{
        text-transform: uppercase;
    }
}